.criminal{
    border: 5px;
    border-color: black; 
    border-style: solid;
    width: 15%;
    margin-bottom: 30px;
    padding: 25px;
    background-color: #f4a261 ;
    
}

.criminalsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.criminalsContainer{

    display:flex;
    flex-wrap: wrap;

}