@import "Criminals.css";
@import "Officers.css";
@import "Notes.css";
@import "Filters.css";
@import "Modal.css";

.container{
    display: flex;
}

.secondaryContainer{
    flex-basis: 65%;
}

.criminalsh3{
    margin-left: 15px;
}
h1{
    margin-left: 15px;
}

header{
    background-color: brown;
    width: 100%;
}