.caseNotesForm{
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #e9c46a;
    padding: 30px;
}

#saveNote{
    width: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#showNotes{
    width: 100px
}
.noteListContainer{
    margin-top: 80px;
    width: 25%;
    background-color: #f4a261;
    padding: 30px;
}
