.caseNotesForm{
    display: flex;
    flex-direction: column;
    width: 25%;
}

#saveNote{
    width: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#showNotes{
    width: 100px
}
.noteListContainer{
    margin-top: 80px;
    width: 250px
}