.officerCard{
    border: 5px;
    border-color: black; 
    border-style: solid;
    margin-bottom: 30px;
    padding: 25px;
    width: 15%;
}

.officersList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}